.wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	width: 100%;
	text-align: center;
}

h1 {
	font-family: 'Barlow Condensed', sans-serif;
	text-transform: uppercase;
}

p {
	font-family: 'Inconsolata', monospace;
}

.col-4 {
	grid-column: span 4;
}

.col-3 {
	grid-columns: span 3;
}

.col-2 {
	grid-column: span 2;
}

.col-1 {
	grid-column: span 1;
}